body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #f9f4f5;
}

.home {
  display: grid;
  grid-template-areas:
    "nav header"
    "nav rowOne"
    "nav rowTwo";
  grid-template-rows: 200px 300px 200px;
  padding-right: 60px;
}

.column {
  display: grid;
  grid-template-areas:
    "nav header header"
    "nav rowOne rowOne"
    "nav ColOne colTwo";
  grid-template-rows: 200px 100px 200px;
  padding-right: 60px;
}

.data-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #3a3042;
}

.data-point {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #3a3042;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #7a89c2;
  border-radius: 2%;
  height: 100vh;
  width: 200px;
}

button.nav-title {
  width: 94px;
  height: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: #f9f4f5;
}

.transparent {
  outline: none;
  border: none;
  background-color: Transparent;
  background-repeat: no-repeat;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
}

.header-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  background: #3a3042;
  border-radius: 15px;
  padding: 50px;
}

.welcome-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

.utilities {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  flex-wrap: wrap;
}

.rowOne {
  grid-area: rowOne;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.rowTwo {
  grid-area: rowTwo;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.label {
  padding: 20px;
  border: 2px solid black;
  border-radius: 20%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #3a3042;
  background: #f9f4f5;
  /* Outline Colour */
  border: 1px solid #3a3042;
  box-sizing: border-box;
  border-radius: 15px;
}

.question {
  font-size: 16px;
  width: auto;
  border-radius: 50%;
}
